.header{
    display: flex;
    position:sticky;
    top:0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding:15px;
    background:linear-gradient( 45deg, #13254F 0%, #2B4C87 100%);

}
.routeTitle{
  color:#fff;
  margin-right: 8px;
}
.routeTitle1{
  color:#fff;
  margin: 44px 8px 0 0;
}
.icon{
  justify-content: flex-end;  
}
.dropDown{
  z-index: 99;
  background: linear-gradient( 45deg, #13254F 0%, #2B4C87 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px 55px 55px 0 ;
  position: relative;
  height:380px
}
.mask{
  z-index: 19;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  top: 380px;
  width: 100%;
  height: 100vh;


}