.index{
  position: relative;
}
.header{
    display: flex;
    position:fixed;
    top:0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient( 45deg, #13254F 0%, #2B4C87 100%);
    z-index:99;

}
.routeTitle{
  color:#fff;
  margin-right: 8px;
}
.routeTitle1{
  color:#fff;
  margin: 44px 8px 0 0;
}
.icon{
  justify-content: flex-end;  
}
.dropDown{
  z-index: 99;
  background: linear-gradient( 45deg, #13254F 0%, #2B4C87 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px 55px 55px 0 ;
  position: relative;
  height:380px
}
.mask{
  z-index: 19;
  background: #000000;
  opacity: 0.5;
  position: absolute;
  top: 380px;
  width: 100%;
  height: 100vh;


}
.container{
  display: flex;
  flex-direction: row;
  position:relative;
  top:140px

}
.left{
  background-color: #f0f0f0;
  box-shadow:2px 0 2px rgba(5,5,5,0.06)
}
.right{
  height: 200px;
  margin-left: 24px;
}
.leftItem{
  padding:10px
}
.active{
  background-color: #fff;
  font-weight: 500;
  font-size: 32px;
}
.normal{
  font-size: 32px;
  font-weight: 300;
}
.activeTitle{
  color:#3371ff;
  font-size:28px
}
.normalTitle{
  color: rgba(0,0,0,0.6);
  font-size:28px
}
.sub{
  border: 1px solid #f0f0f0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding:4px;
  margin: 6px 6px 0 0;
}
.subContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
